* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

@import url('components/styles/homepage.css');
@import url('components/styles/ingredients.css');
@import url('components/styles/recipes.css');
@import url('components/styles/recipe.css');